/* Write your code here. */
.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png');
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.main-heading {
  font-family: 'Roboto';
  font-size: 32px;
  color: #0f172a;
}
.card {
  background-color: #cffafe;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  font-family: 'Roboto';
  font-size: 22px;
  color: #0f172a;
}
.paragraph {
  font-family: 'Roboto';
  font-size: 16px;
  color: #1e293b;
  text-align: center;
}
.image1 {
  width: 100px;
}
.image2 {
  width: 90px;
}
@media screen and (min-width: 768px) {
  .main-heading {
    font-size: 42px;
  }
  .heading {
    font-size: 32px;
  }
  .paragraph {
    font-size: 22px;
  }
}
